.myDiv {
    border: 5px outset rgb(251, 255, 30);
    background-color: rgb(255, 255, 255);
    text-align: center;
}
  body{
    background-color: rgb(255, 253, 253);
  }
  body{
    border: 1px double #ffff00b7;
    text-decoration: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 7, 7);
  }
  .containerHome {
    position: relative;
    text-align: center;
    color: white;
    }
  .overlayText {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

  .bottom-left {
    position: absolute;
    top: 380%;
    left: 10  px;
    padding-left: 10%;
    text-align: left;
    font-size: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .bottom-right {
    position: absolute;
    bottom: 1px;
    right: 50px;
    text-align: right;
  }

  
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://www.hertz.com/content/dam/hertz-rac/us/reservations/homepage/hero/3840x1872-B.jpg/jcr%3Acontent/renditions/small%402x.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
	height: 100%; 
	font-family: Georgia, 'Times New Roman', Times, serif ;
  background-color: #e5ff00; 
}


.contact_form{	
	width: 460px; 
  height: auto;
  margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;
  padding-left: 30px; 
}


input{
	background-color: #fbfbfb; 
	width: 200px; 
	height: 30px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #f1e315; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color:#fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: rgb(251, 255, 30); 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #FFC312; 
	border-color: #FFC312; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}


button p{
	color: #fff; 
}


span{
	color: #FFC312; 
}


.aviso{
	font-size: 13px;  
	color: #fff;  
}


h1{
	font-size: 29px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #f8f8f8;
}


h3{
	font-size: 30px; 
	padding-bottom: 30px;
	color:#f8f8f8 ;   
}


p{
	font-size: 14px; 
	color: #f8f8f8; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}



